@using TechSavvy.Models.Momo
@model MomoExecuteResponseModel
@{
    ViewData["Title"] = "Kết quả giao dịch thành công";
}
<h5>Thanh toán MOMO thành công với: </h5>
<h6>OrderId: @Model.OrderId</h6>
<h6>Message: @Model.OrderInfo</h6>
<h6>Message: @Model.Amount</h6>
<h6>Xem <a asp-controller="Account" asp-action="History">Lịch sử đơn hàng đã đặt</a></h6>