@model IEnumerable<ProductModel>

<div class="p-3 bg-light rounded shadow-sm mb-4">
    <h3 class="text-dark fw-bold">Sản phẩm đã xóa</h3>
    <a class="btn btn-primary mt-2" asp-action="Index" asp-controller="Product">
        <i class="fa fa-arrow-left"></i> Quay lại danh sách
    </a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Ảnh</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <img src="~/media/products/@item.Image" width="100" />
                </td>
                <td>
                    <a asp-action="Restore" asp-route-id="@item.Id" class="btn btn-success btn-sm">
                        <i class="fa fa-undo"></i> Khôi phục
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>
<a asp-action="Index">
    <i class="fa fa-arrow-left"></i> Về trang danh sách sản phẩm
</a>