<section id="slider">
	<!--slider-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#slider-carousel" data-slide-to="1"></li>
						<li data-target="#slider-carousel" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner">
						<div class="item active">
							<div class="col-sm-12">
								<img src="https://anphat.com.vn/media/lib/22-07-2021/2021-pba-banner_black-1920x740.jpg" height="450px" />

							</div>
						</div>
						<div class="item">
							<img src="https://hqcomputer.com/assets/uploads/banner-03.jpg" />

						</div>
						<div class="item">
							<img src="https://maytinhsocbay.com/wp-content/uploads/2023/02/may-tinh-pc-gaming-banner-top.jpg" height="450px" />

						</div>
					</div>
					<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>

			</div>
		</div>
	</div>
</section><!--/slider-->